<%= form_with(model: pokemon) do |form| %>
  <% if pokemon.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pokemon.errors.count, "error") %> prohibited this pokemon from being saved:</h2>

      <ul>
        <% pokemon.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :classe, style: "display: block" %>
    <%= form.text_field :classe %>
  </div>

  <div>
    <%= form.label :typepoke, style: "display: block" %>
    <%= form.text_field :typepoke %>
  </div>

  <div>
    <%= form.label :puissancepoke, style: "display: block" %>
    <%= form.number_field :puissancepoke %>
  </div>

    <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
