<div id="<%= dom_id ianimal %>">
  <p>
    <strong>Classe:</strong>
    <%= ianimal.classe%>
  </p>

  <p>
    <strong>Typepoke:</strong>
    <%= ianimal.typepoke %>
  </p>

  <p>
    <strong>Puissancepoke:</strong>
    <%= ianimal.puissancepoke %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= ianimal.image %>">
  </p>

</div>
