<div id="<%= dom_id pokemon %>">
  <p>
    <strong>Nompoke:</strong>
    <%= pokemon.nompoke %>
  </p>

  <p>
    <strong>Typepoke:</strong>
    <%= pokemon.typepoke %>
  </p>

  <p>
    <strong>Puissancepoke:</strong>
    <%= pokemon.puissancepoke %>
  </p>

  <p>
    <strong>Image:</strong>
    <img src="<%= pokemon.image %>">
  </p>

</div>
