<p style="color: green"><%= notice %></p>

<%= render @ianimal %>

<div>
  <%= link_to "Edit this ianimal", edit_pokemon_path(@ianimal) %> |
  <%= link_to "Back to ianimals", pokemons_path %>

  <%= button_to "Destroy this ianimal", @ianimal, method: :delete %>
</div>
